.ServiceTile.catalog-tile-pf {
  padding: 0;
  position: relative;
  color: #9c9c9c;
  width: 250px;
  height: 240px;

  &.featured {
    color: #363636;

    &:hover {
      cursor: pointer;
    }

    .catalog-tile-pf-description {
      color: #72767b;
    }
  }

  &.coming-soon {
    color: #e1e1e1;

    &:hover {
      box-shadow: none
    }

    .service-tile-pf-icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 45px;
      width: 45px;
      background-color: #fafafa;
      border: solid 1px #e6e6e6;
      .service-tile-pf-icon {
        font-size: 25px;
        color: #e6e6e6;
      }
    }
  }


  .service-tile-pf-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background-color: #DDF2FE;
    border: solid 1px #BDE0F4;
    .service-tile-pf-icon {
      font-size: 25px;
      color: #1686CA;
    }
  }

  .catalog-tile-pf-title {
    font-size: 1.6rem;
  }

  .catalog-tile-pf-contents {
    margin: 15px;
  }

  .catalog-tile-pf-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    background-color: #9B9B9B;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50px;
    line-height: 50px;
  }
}